body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("https://images.wallpapersden.com/image/download/red-dead-redemption-2-minimal-game-19_a2hqa2WUmZqaraWkpJRnZ2xurWZuZ2o.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
   background-image: url("https://thumbs.dreamstime.com/b/forest-game-background-d-application-vector-design-tileable-horizontally-size-ready-parallax-effect-73562942.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#myCanvas4 {
  border: 1px solid black;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230416/pngtree-game-sunset-yellow-image_2409244.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


